*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAF9F6;
}

.wrap {
    display: flex;
    padding: 24px;
    height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #262624;
    gap: 50px;
}

.main {
    background-color: #30302E;
}