@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(255, 94, 94, 1) 0%, rgba(94, 87, 199, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;  
    min-height: 550px;
    max-width: 800px;
    overflow: hidden;
    border-radius: 15px ;
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #262624;
    gap: 8px;
    min-width: 200px;
    padding: 10px 24px;
}

.main {
    background-color: #30302E;
    padding: 24px;
    flex-grow: 1;

}
.header {
    display: flex;
}

.header button {
    margin-left: auto;
}

.add-btn {
    background-color: #30302E;
    color: #fff;
    border: solid #707070 1px;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 16px;
}

.sidebar-label {
    color: #9C9A92;
    padding-top:8px ;
}

.cat {
    color: #C1BFB5;
    display: flex;
    align-items: center;
    gap: 4px;
}

.material-symbols-outlined {
    font-size: 20px;
}
